@import "app.scss";

.button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 60%;
    transform: translateY(200px);
    opacity: 0;
    animation: button-in 2s ease-in 3s forwards;

    .btn {
        border-radius: 15px;
        height: 80px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: calc( 13px + 1vmin );

        &.pri {
            border: 2px solid $color-sec;

            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    background-color: $color-sec;
                    border-radius: 15px;
                    width: 200px;
                    height: 80px;
                    opacity: 0.5;
                    transition: 1s ease-in-out;
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                background-color: $color-sec;
                border-radius: 15px;
                width: 0px;
                height: 0px;
                opacity: 0.5;
                transition: 1s ease-in-out;
            }
        }

        &.sec {
            border: 2px solid $color-pri;

            &:hover {
                &::after {
                    content: "";
                    position: absolute;
                    right: 0px;
                    background-color: $color-pri;
                    border-radius: 15px;
                    width: 200px;
                    height: 80px;
                    opacity: 0.5;
                    transition: 1s ease-in-out;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: 0px;
                background-color: $color-pri;
                border-radius: 15px;
                width: 0px;
                height: 0px;
                opacity: 0.5;
                transition: 1s ease-in-out;
            }
        }
    }
}

// Keyframes
@keyframes button-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

// Media Screen
@media (max-width: 680px) {
    .button-container{
        .btn {
            height: 60px;
            width: 180px;

            &.pri {
                &:hover {
                    &::before {
                        width: 180px;
                        height: 60px;
                    }
                }
            }
    
            &.sec {
                &:hover {
                    &::after {
                        width: 180px;
                        height: 60px;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .button-container{
        .btn {
            height: 50px;
            width: 160px;

            &.pri {
                &:hover {
                    &::before {
                        width: 160px;
                        height: 50px;
                    }
                }
            }
    
            &.sec {
                &:hover {
                    &::after {
                        width: 160px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .button-container{
        width: max-content;
        margin-top: 40px;
        flex-direction: column;
        gap: 10px;
    }
}