@import "app.scss";

.header-container {
    text-align: center;
    margin-top: 20px;
    transform: translateY(-100px);
    opacity: 0;
    animation: header-in 2s ease forwards;

    h3 {
        font-size: calc( 5px + 1vmin );
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: Poppins;
    }

    h4 {
        font-size: calc( 6px + 1vmin);
        font-weight: 100;
        color: $color-pri;
        font-family: "Open Sans";
        letter-spacing: 1px;
    }

    h2 {
        font-size: calc( 16px + 1vmin);
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    @keyframes header-in {
        to {
          transform: translateY(0);
          opacity: 1;
        }
    }
}