@import "app.scss";

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    transform: translateY(-100px);
    opacity: 0;
    backdrop-filter: blur(20px);
    animation: fade-in 2s ease 1 forwards;

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: Poppins;
    }

    h2 {
        font-size: 16px;
        font-weight: 100;
        color: $color-pri;
        font-family: "Open Sans";
        letter-spacing: 1px;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    @keyframes fade-in {
        to {
          transform: translateY(0);
          opacity: 1;
        }
    }
}