.navigation {
    position: fixed;
    left: 40px;
    bottom: 50%;
    transform: translateY(50%) translateX(-100px);
    background-color: rgba(0, 0, 0, 0.596);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border-radius: 50px;
    opacity: 0;
    z-index: 50;
    animation: fade-nav-in 1s ease 3s forwards;

        a {
            position: relative;
            background-color: rgba(0, 0, 0, 0.397);
            border-radius: 50%;
    
                .icon {
                    font-size: 50px;
                    border-radius: 50%;
                    fill: rgb(88, 117, 248);
                    border: 2px solid rgb(88, 117, 248);
    
                        &:hover {
                            fill: rgba(88, 117, 248, 0.151);
                            border: 2px solid rgba(88, 117, 248, 0.192);
                        }
                }
        }
  }

// Keyframes
@keyframes fade-nav-in {
  to {
    transform: translateY(50%) translateX(0);
    opacity: 1;
  }
}

// Media Screen
@media (max-width: 1000px) {
  .navigation {
    position: fixed;
    left: calc(50% - 181px);
    bottom: 55px;
    transform: translateY(100px);
    padding: 15px 10px;
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .navigation {
    position: fixed;
    left: calc(50% - 131px);
    bottom: 55px;
    transform: translateY(100px);
    padding: 15px 10px;
    flex-direction: row;

        a {
                .icon {
                    font-size: 30px;
                    padding: 1px;
                }
        }
  }
}